# created: 2022-09-26T07:37:22-04:00
# public key: {{ (bitwardenFields "item" "9bde1048-8f10-4902-8ed5-af8900fddb4f").public_key.value }}
{{ (bitwardenFields "item" "9bde1048-8f10-4902-8ed5-af8900fddb4f").secret_key.value }}
